<section class="why-buy-slider-sec">
  <div class="page-width">
    <div class="why-buy-slider-row">
      <div class="why-buy-slider-text-col">
        <div class="why-buy-slider-text-width">
          <h3> {{ section.settings.title }} </h3>
        </div>
      </div>
      <div class="why-buy-slider-content">
        <div class="owl-carousel">
            {% for block in section.blocks %}             
            <div class="item">
              <div class="why-slider-img">
                {% if block.settings.image != blank %}
                    <img loading="lazy" alt="{{ block.settings.image.alt }}" src="{{ block.settings.image | img_url : "master" }}">
                {% else %}
                    {{ 'image' | placeholder_svg_tag }}
                {% endif %}
              </div>
              <div class="why-slider-text">
                <h3> {{ block.settings.title }} </h3>
                <p> {{ block.settings.description }} </p>
              </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>




{% schema %}
{
    "name": "Buy Slider",
    "settings" :
    [
       {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Why Buy From NitrileGlovesMD.com?"
       }
    ],
    "blocks":
    [
        {
            "name" : "Features",
            "type" : "feature",
            "settings":
            [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                }
            ]
        }
    ]
}
{% endschema %}