<section class="glove-shortage-sec">
    <div class="page-width">
      <div class="glove-shortage-row">
        <div class="glove-shortage-list-col">
          <h3> {{ section.settings.title }} </h3>
          <ul>
           {{ section.settings.info_1 }}
          </ul>
        </div>
        <div class="glove-shortage-list-col glove-shortage-list-img-col">
          <div class="glove-shortage-img">
            {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | img_url : 'master' }}" loading="lazy" alt="{{ section.settings.image.alt }}">
            {% endif %}
            <ul>
                {{ section.settings.info_2 }}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  {% schema %}
{
    "name": "Shortage",
    "settings" :
    [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "html",
            "id": "info_1",
            "label": "Description"
        },
        {
            "type": "html",
            "id": "info_2",
            "label": "Description"
        }
    
    ]
}
{% endschema %}